body {
    background-image: url("../images/background_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set body height to full viewport height */
    margin: 0; /* Remove default body margin */
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    color: whitesmoke
}
p{
    color: whitesmoke
}
.form-control {
    width: 100px;
    text-align: center;
}