<!DOCTYPE html>
<html>
<head>
    <title>Enter a Number</title>
</head>
<body>
    <form action="/" method="POST">
        <label for="number">Enter a number:</label>
        <input type="number" id="number" name="number" required>
        <input type="submit" value="Submit">
    </form>
    <h1>Current Page: {{ curr_page }}</h1>
    <a href="/?page=1"><button>Previous</button></a>

    <a href="/?page=2"><button>Next</button></a>

    <h1>Word List:</h1>
    <ul>
        {% for word in words %}
            <li>{{ word }}</li>
        {% endfor %}
    </ul>
</body>
</html>
